# Node/React dependencies
node_modules

# Python cache & virtualenvs
__pycache__
.venv

# Editor/OS junk
.vscode
.DS_Store

# Data / runtime artifacts
data/*
!data/.gitkeep   # (optional, if you want to keep folder tracked)
database.db
data.json
instance/

# Git + build files
.git
